# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/

# IDE / Editor specific
.vscode/
.idea/
*.DS_Store

# Environment variables
.env

# Vector Store (jika besar dan tidak ingin di-commit, sesuaikan jika perlu)
vector_store/*
# !vector_store/.gitkeep # Jika ingin folder tetap ada walau isinya diabaikan

# Data (jika datanya sensitif atau sangat besar)
# data/raw/*
# !data/raw/.gitkeep
